.body {

    /*Main*/
    .main {
        width: 100%;
        min-height: 100vh;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            background-image: url('../../assets/image/Fondo.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0.5;
        }

        .frase {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: $cremita;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h2 {
                font-family: 'Fleur De Leah', cursive;
                font-size: 9em;
                font-weight: 200;
                opacity: 0;
                animation: fade-in 1s ease forwards;
                animation-delay: 0.2s;
            }

            p {
                font-size: 2em;
                text-align: center;
                opacity: 0;
                animation: fade-in 1s ease forwards;
                animation-delay: 0.3s;
            }
        }

        /*Header*/
        .header {
            width: 100%;
            height: 7rem;
            position: fixed;
            background-color: transparent;
            top: 0;
            z-index: 100;
            padding-top: 1rem;
            transition: background-color .4s ease-in-out;

            &.scrolled {
                background-color: $blanco;
                opacity: 0.98;
                box-shadow: 0 0 10px 0 #000000;
            }

            .container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2rem 0 2rem;

                .logo {
                    cursor: pointer;
                    font-family: 'Fleur De Leah', cursive;
                    font-size: 3em;
                    color: $cremita;
                    transition: color .3s ease-in-out;

                    &:hover {
                        color: $rosa;
                    }
                }

                .nav {
                    ul {
                        display: flex;
                        gap: 2rem;
                        font-size: 1.8em;

                        li {
                            cursor: pointer;
                            color: $cremita;
                            transition: color .3s ease-in-out;
                            position: relative;

                            &:hover {
                                color: $rosa;
                            }

                            &:hover::before {
                                content: "";
                                background-image: url('../../assets/image/rosa.svg');
                                background-size: 100% 100%;
                                position: absolute;
                                top: 70%;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                z-index: -1;
                            }
                        }
                    }
                }

                .redes {
                    display: flex;
                    gap: 1rem;
                    font-size: 2em;
                    cursor: pointer;
                    color: $cremita;

                    i {
                        transition: color .3s ease-in-out;
                    }

                    i:hover {
                        color: $rosa;
                    }
                }
            }
        }

        /*----------------*/
        /*  SCALLOP up    */
        /*----------------*/
        .scallop-up {
            position: absolute;
            height: 100px;
            width: 100%;
            background-image: radial-gradient(60px at 50% 100%, #FFF5EC, #FFF5EC 49%, #ffffff00 51%, #ffffff00);
            background-size: 49px 100%;
            bottom: 0;
        }
    }

    /*Novedades*/
    .novedades {
        width: 100%;
        min-height: 100vh;
        background-color: $cremita;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            padding: 5rem;

            h2 {
                font-size: 2.5em;
                padding-bottom: 2rem;
            }

            .tarjetas {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;

                .tarjeta {
                    content: '';
                    width: 35rem;
                    height: 28rem;
                    background-color: $beige;
                    border-radius: 10px;
                    padding: 2rem;
                    box-shadow: 0 5px 20px 0 #decec0;

                    h3 {
                        font-size: 1.6em;
                        padding-bottom: 2rem;
                    }

                    span {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }

    /*Motivos*/
    .motivos {
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        background-color: $verde-claro;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .container {

            .porque {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                gap: 0.5rem;

                h2 {
                    font-size: 2.5em;
                }

                h3 {
                    font-size: 1.8em;
                    width: 50rem;
                    font-weight: 400;
                    text-align: center;
                }
            }

            .iconos {
                display: flex;
                gap: 10rem;
                padding: 10rem 0 0 0;

                .buena-atencion,
                .precios,
                .calidad {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h3 {
                        font-size: 2em;
                        font-weight: 600;
                        padding-bottom: 1rem;
                    }

                    p {
                        font-size: 1.5em;
                        width: 30rem;
                        text-align: center;
                    }

                    i {
                        font-size: 6em;
                    }
                }
            }
        }
    }

    /*Destacados*/
    .destacados {
        width: 100%;
        min-height: 100vh;
        background-color: $cremita;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 0 2rem 0 2rem;

        h2 {
            font-size: 2.5em;
            padding: 0 0 2rem 0;
        }

        .tarjetas-productos {
            height: 50rem;
            max-width: 120rem;
            padding-bottom: 7rem;
            display: flex;
            justify-content: space-between;
            gap: 4rem;
            flex-wrap: wrap;
            position: relative;
            z-index: 1;
            padding: 0 5rem 0 0;

            .slick-arrow {
                width: 35px;
                height: 35px;
                font-size: 1px;
                color: transparent;
                border: 1px solid $marron;
                position: absolute;
                top: -8%;
                left: 35%;
                transform: translate(-50%, -50%);
                cursor: pointer;
            }

            .slick-prev {
                left: 30%;
                background: url('../../assets/image/angle-left.svg');
                background-size: 100%;
            }

            .slick-next {
                background: url('../../assets/image/angle-right.svg');
                background-size: 100%;
            }

            .tarjeta1,
            .tarjeta2,
            .tarjeta3,
            .tarjeta4,
            .tarjeta5,
            .tarjeta6 {
                position: relative;
                margin-right: 2rem;

                .tarjeta-producto {
                    width: 100%;
                    height: 50rem;
                    background-color: $cremita;
                    overflow: hidden;
                    transition: transform 0.3s ease-in-out;
                    transition: 0.3s ease-in-out;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0;
                        background-color: $beige;
                        transform-origin: bottom;
                        transition: height 0.3s ease-in-out;
                    }

                    &:hover::before {
                        height: 40%;
                    }

                    &:hover .botones {
                        opacity: 1;
                    }

                    .botones {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        position: absolute;
                        top: 80%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                        opacity: 0;
                        transition: .4s ease-in-out;

                        p {
                            font-size: 1.8em;
                        }

                        .btn-comprar {
                            width: 20rem;
                            height: 5rem;
                            background-color: $blanco;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.5em;
                            font-weight: 500;
                            border: 2px solid $marron;
                            border-radius: 100px;
                            transition: .3s ease-in-out;

                            &:hover {
                                background-color: $rosa;
                                color: $cremita;
                            }
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    /*Tutoriales*/
    .tutoriales {
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        background-color: $cremita;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 40%;
            background-color: $beige;
            z-index: 0;
            bottom: -20%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        /*----------------*/
        /*  SCALLOP up    */
        /*----------------*/
        .scallop-up {
            position: absolute;
            height: 100px;
            width: 100%;
            background-image: radial-gradient(50px at 50% 100%, #FFCDD0, #FFCDD0 49%, #ffffff00 51%, #ffffff00);
            background-size: 49px 100%;
            bottom: 0;
            z-index: 2;
        }

        .container {
            display: flex;
            gap: 10rem;
            z-index: 2;
            padding: 0 5rem 0 5rem;

            .titulo-tips {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .titulos-tutoriales {
                    h2 {
                        font-size: 2.5em;
                    }

                    .links-tuto {
                        display: flex;
                        flex-direction: column;

                        a {
                            font-size: 1.8em;
                            cursor: pointer;

                            &:hover {
                                font-weight: 600;
                            }
                        }
                    }
                }

                .tips-tutoriales {
                    width: 60rem;

                    h3 {
                        font-size: 2em;
                        padding-bottom: 2rem;
                    }

                    span {

                        font-size: 1.5em;
                    }
                }
            }

            .videos {
                content: '';
                width: 50rem;
                height: 50rem;
                background-color: $marron;
            }
        }
    }

    /*Sobre-mi*/
    .sobre-mi {
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        background-color: $rosa-claro;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10rem;
        overflow: hidden;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10rem;

            .fotos {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding-left: 5rem;
                padding-top: 8rem;

                .foto1 {
                    content: '';
                    width: 100%;
                    height: 45rem;
                    background-color: $marron;
                    z-index: 2;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .otras-fotos {
                    display: flex;
                    gap: 2rem;

                    .foto {
                        content: '';
                        width: 30rem;
                        height: 25rem;
                        background-color: $marron;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .descripcion {
                display: flex;
                flex-direction: column;
                gap: 5rem;
                justify-content: center;
                align-items: center;
                padding-right: 5rem;

                h2 {
                    font-size: 2.5em;
                }

                span {
                    font-size: 1.5em;
                }
            }
        }
    }

    /*Post instagram*/
    .post-instagram {
        width: 100%;
        min-height: 100vh;
        background-color: $cremita;
        display: flex;
        justify-content: center;
        overflow: hidden;

        .scallop-down {
            height: 100px;
            width: 100%;
            background-image: radial-gradient(50px at 50% 0, #FFCDD0, #FFCDD0 49%, #ffffff00 51%, #ffffff00);
            background-size: 49px 100%;
            position: absolute;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 2rem;
            padding: 10rem 0 10rem 0;

            .titulo-post-instagram {
                display: flex;
                flex-direction: column;
                padding-left: 8rem;
                padding-top: 2rem;

                h2 {
                    font-size: 2.5em;
                }

                span {
                    font-size: 1.8em;
                }
            }

            .post {
                width: 100%;
                padding: 0 8rem 0 8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;

                .primer-post,
                .segundo-post,
                .tercer-post,
                .cuarto-post {
                    width: calc(25%);
                }

                .primer-post {
                    background-color: $beige;
                    display: flex;
                    align-items: center;
                    font-size: 1.8em;
                    padding: 2rem;
                }

                .segundo-post {
                    position: relative;
                }

                .cuarto-post {
                    background-color: $marron;
                    color: $cremita;
                }

                .primer-post,
                .segundo-post,
                .tercer-post {
                    height: 45rem;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .segundo-post-texto {
                    width: 100%;
                    height: 30%;
                    background-color: $beige;
                    padding: 2rem;
                    position: absolute;
                    top: 0;

                    span {
                        font-size: 1.8em;
                    }
                }

                p {
                    padding: 2rem;
                    font-size: 1.8em;
                }

                .top {
                    display: flex;
                    gap: 1rem;
                    padding: 2rem;

                    .circle {
                        content: '';
                        width: 5rem;
                        height: 5rem;
                        border-radius: 100px;
                        background-color: $beige;
                    }

                    .usuario-ig {
                        font-size: 1.5em;
                    }
                }

                .boton-post {
                    padding: 2rem;
                    font-size: 1.5em;
                    display: flex;
                    justify-content: flex-end;

                    span,
                    i {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    /*Ebooks*/
    .ebooks {
        width: 100%;
        min-height: 100vh;
        background-color: $verde-claro;
        display: flex;
        gap: 2rem;
        overflow: hidden;

        .container {
            display: flex;
            gap: 2rem;

            .descripcion-ebooks {
                min-height: 100vh;
                width: 100rem;
                background-color: $verde;
                padding: 0 5rem 0 5rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h2 {
                    font-size: 2.5em;
                    padding-bottom: 2rem;
                }

                p {
                    font-size: 1.8em;
                }
            }

            .contenedor-ebooks {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;
                padding: 2rem 0 2rem 0;

                .ebook {
                    content: '';
                    background-color: $beige;
                    height: 40rem;
                    width: 40rem;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 0;
                        background-color: $verde;
                        transform-origin: bottom;
                        transition: height 0.3s ease-in-out;
                    }

                    &:hover::before {
                        height: 40%;
                    }

                    &:hover .botones-ebook {
                        opacity: 1;
                    }

                    .botones-ebook {
                        position: absolute;
                        top: 80%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        cursor: pointer;
                        opacity: 0;
                        transition: .4s ease-in-out;

                        .btn-comprar {
                            width: 20rem;
                            height: 5rem;
                            background-color: $blanco;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 1.5em;
                            font-weight: 500;
                            border: 2px solid $marron;
                            border-radius: 100px;
                            transition: .3s ease-in-out;

                            &:hover {
                                background-color: $rosa;
                                color: $cremita;
                            }
                        }
                    }
                }
            }
        }
    }

    /*Kits*/
    .kits {
        width: 100%;
        min-height: 100vh;
        background-color: $cremita;
        overflow: hidden;

        .container {
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: 1rem;
            padding: 5rem 10rem 5rem 10rem;

            .titulo-kits {
                width: 50rem;
                display: flex;
                justify-content: center;
                align-items: center;

                .titulos-kits {
                    h2 {
                        font-size: 2.5em;
                    }

                    .links-kits {
                        display: flex;
                        flex-direction: column;
                        width: 100%;

                        a {
                            font-size: 1.8em;
                            cursor: pointer;

                            &:hover {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .productos-kits {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
                grid-auto-rows: minmax(300px, auto);
                gap: 20px;
                padding: 20px;
                grid-auto-flow: dense;

                .kit {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 4px;
                    transition: transform .3s ease-in-out;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .img1,
                .img2,
                .img3,
                .img4,
                .img5 {
                    background-image: url('../../assets/image/producto1.png');
                }
            }
        }
    }

    /*Puntos de venta*/
    .puntos-venta {
        width: 100%;
        min-height: 100vh;
        background-color: $cremita;
        display: flex;
        flex-wrap: wrap-reverse;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        overflow: hidden;
        position: relative;

        .map {
            width: 60rem;
            height: 60rem;
        }

        /*----------------*/
        /*  SCALLOP up    */
        /*----------------*/
        .scallop-up {
            position: absolute;
            height: 100px;
            width: 100%;
            background-image: radial-gradient(50px at 50% 100%, #F2E1D2, #F2E1D2 49%, #ffffff00 51%, #ffffff00);
            background-size: 49px 100%;
            bottom: 0;
            z-index: 2;
        }

        .titulo-puntos {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: 60rem;
            height: 60rem;
            border: solid 2px $marron;
            border-radius: 20px;
            max-height: 60rem;
            overflow-y: auto;
            padding: 2rem;

            .punto {
                display: flex;
                gap: 1rem;
                flex-direction: column;

                span {
                    font-size: 1.8em;
                    font-weight: 600;
                }

                a {
                    font-size: 1.5em;
                }
            }
        }
    }

    /*Footer*/
    .footer {
        width: 100%;
        min-height: 60vh;
        background-color: $beige;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 5rem;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            position: absolute;
            justify-content: space-between;
            gap: 35rem;

            .descripcion-footer {
                width: 350px;

                h3 {
                    font-size: 1.8em;
                }

                span {
                    font-size: 1.5em;
                }
            }

            .nav-footer {
                padding-right: 5rem;

                li {
                    font-size: 1.5em;
                    text-align: center;

                    &:hover {
                        font-weight: 600;
                    }
                }
            }

            .redes-footer {
                display: flex;
                flex-direction: column;

                .container-redes {
                    display: flex;
                    gap: 1em;

                    i {
                        font-size: 2em;
                        cursor: pointer;
                    }
                }

                h3 {
                    font-size: 1.8em;
                }
            }
        }

        .copy {
            position: absolute;
            display: flex;
            padding-bottom: 2rem;
            top: 95%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 1.2em;
        }
    }

    /*BOTONES*/
    /*btn scroll*/
    .scroll-top-button {
        position: fixed;
        bottom: 2rem;
        left: 2rem;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: $rosa;
        border: 1px solid $rosa;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        z-index: 10;

        i {
            font-size: 3rem;
            color: $blanco;
        }
    }

    .scroll-top-button.show {
        opacity: 1;
        visibility: visible;
        animation: scrollAnimation 1s infinite alternate;
    }
}

/*Keyframes*/
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*Media querys*/
/*PANTALLAS GRANDES*/
@media (max-width:1420px) {
    .body {

        /*EBOOKS*/
        .ebooks {

            .container {
                flex-direction: column;

                .descripcion-ebooks {
                    min-height: 50vh;
                    width: 100%;
                }

                .contenedor-ebooks {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 2rem;
                    padding: 2rem 0 2rem 0;
                }
            }
        }
    }
}

@media (max-width:1190px) {
    .body {

        /*NOVEDADES*/
        .novedades {
            width: 100%;
            height: 110rem;
        }

        /*MOTIVOS*/
        .motivos {

            .container {

                .porque {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 0.5rem;

                    h2 {
                        font-size: 2.5em;
                    }

                    h3 {
                        font-size: 1.8em;
                        width: 50rem;
                        font-weight: 400;
                        text-align: center;
                    }
                }

                .iconos {
                    display: flex;
                    gap: 2rem;
                }
            }
        }

        /*TUTORIALES*/
        .tutoriales {
            width: 100%;
            height: 110rem;

            .container {
                display: flex;
                flex-direction: column;

                .titulo-tips {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .tips-tutoriales {

                        h3 {
                            padding-top: 3rem;
                        }

                        span {
                            font-size: 1.8em;
                        }
                    }
                }

                .videos {
                    content: '';
                    width: 50rem;
                    height: 50rem;
                    background-color: $marron;
                }
            }
        }

        /*DESTACADOS*/
        .destacados {

            .tarjetas-productos {
                padding: 0 20rem 0 0;
            }
        }

        /*SOBRE MÍ*/
        .sobre-mi {
            height: 130rem;

            .container {
                flex-direction: column-reverse;
                gap: 2rem;

                .descripcion {
                    width: 60%;
                }

                .fotos {
                    padding-left: 0;
                    padding-top: 10rem;
                }
            }
        }

        /*POST INSTAGRAM*/
        .post-instagram {

            .container {
                .post {

                    .primer-post,
                    .segundo-post,
                    .tercer-post,
                    .cuarto-post {
                        width: calc(40%);
                    }
                }
            }

        }

        /*FOOTER*/
        .footer {

            .container {
                gap: 10rem;
            }
        }
    }
}

/*PANTALLAS MEDIANAS*/
@media (max-width:1000px) {

    .body {

        /*MOTIVOS*/
        .motivos {

            .container {

                .porque {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 0.5rem;

                    h2 {
                        font-size: 2.5em;
                    }

                    h3 {
                        font-size: 1.8em;
                        width: 50rem;
                        font-weight: 400;
                        text-align: center;
                    }
                }

                .iconos {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;

                }
            }
        }

        /*DESTACADOS*/
        .destacados {
            .tarjetas-productos {
                padding: 0 40rem 0 5rem;
            }
        }
    }
}

@media (max-width: 841px) {
    .body {

        /*NOVEDADES*/
        .novedades {
            height: 200rem;
        }

        /*TUTORIALES*/
        .tutoriales {
            .container {
                .titulo-tips {
                    .tips-tutoriales {
                        width: 40rem;
                    }
                }

                .videos {
                    width: 40rem;
                    height: 40rem;
                }
            }
        }

        /*KITS*/
        .kits {
            .container {
                flex-direction: column;
            }
        }

        /*DESTACADOS*/
        .destacados {
            .tarjetas-productos {
                padding: 0 60rem 0 0;
            }
        }

        /*SOBRE MÍ*/
        .sobre-mi {
            height: 160rem;

            .container {
                flex-direction: column-reverse;
                gap: 2rem;

                .descripcion {
                    width: 40rem;
                }

                .fotos {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 5rem;

                    .foto1 {
                        width: 40rem;
                        height: 40rem;
                    }

                    .otras-fotos {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                    }
                }
            }
        }

        /*POST INSTAGRAM*/
        .post-instagram {

            .container {
                .post {
                    padding: 0 0 0 0;

                    .primer-post,
                    .segundo-post,
                    .tercer-post,
                    .cuarto-post {
                        width: calc(60%);
                    }
                }
            }

        }

        /*EBOOKS*/
        .ebooks {
            .container {
                .descripcion-ebooks {
                    padding: 5rem;
                }
            }
        }

        /*PUNTOS DE VENTA*/
        .puntos-venta {
            padding-bottom: 20rem;
        }

        /*FOOTER*/
        .footer {

            .container {
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                gap: 5rem;

                .nav-footer {
                    padding-right: 27rem;
                }

                .redes-footer {
                    padding-right: 22rem;
                }

            }

            .copy {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

/*PANTALLAS PEQUEÑAS*/
@media (min-width: 800px) {
    .body {
        .wide {
            grid-column: span 2;
        }

        .tall {
            grid-row: span 2;
        }
    }
}

@media (max-width:630px) {
    .body {

        /*MAIN*/
        .main {
            .frase {
                h2 {
                    font-size: 7em;
                }

                p {
                    padding: 0 8rem 0 8rem;
                }
            }
        }

        /*MOTIVOS*/
        .motivos {

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                .porque {
                    h3 {
                        padding: 0 8rem 0 8rem;
                    }
                }
            }
        }

        /*DESTACADOS*/
        .destacados {
            .tarjetas-productos {
                padding: 0 75rem 0 0;
            }
        }

        /*PUNTOS DE VENTA*/
        .puntos-venta {
            .map {
                width: 40rem;
                height: 50rem;
            }

            .titulo-puntos {
                width: 40rem;
                height: 40rem;
            }
        }
    }
}

@media (max-width:460px) {
    .body {

        /*MAIN*/
        .main {
            .frase {
                h2 {
                    font-size: 6em;
                }
            }
        }

        /*NOVEDADES*/
        .novedades {
            .container {
                .tarjetas {
                    .tarjeta {
                        width: 30rem;
                    }
                }
            }
        }

        /*MOTIVOS*/
        .motivos {

            .container {

                .porque {

                    h2 {
                        font-size: 2em;
                    }
                }
            }
        }

        /*TUTORIALES*/
        .tutoriales {
            .container {
                justify-content: center;
                align-items: center;

                .videos {
                    width: 30rem;
                    height: 40rem;
                }
            }
        }

        /*DESTACADOS*/
        .destacados {

            h2 {
                padding: 0 0 8rem 0;
            }

            .tarjetas-productos {
                padding: 0 80rem 0 0;
                
                .slick-arrow {
                    top: -8%;
                    left: 25%;
                }

                .slick-prev {
                    left: 20%;
                }
            }
        }

        // /*SOBRE MÍ*/
        // .sobre-mi {
        //     height: 130rem;

        //     .container {
        //         flex-direction: column-reverse;
        //         gap: 2rem;

        //         .descripcion {
        //             width: 60%;
        //         }

        //         .fotos {
        //             padding-left: 0;
        //             padding-top: 10rem;
        //         }
        //     }
        // }

        // /*POST INSTAGRAM*/
        // .post-instagram {

        //     .container {
        //         .post {

        //             .primer-post,
        //             .segundo-post,
        //             .tercer-post,
        //             .cuarto-post {
        //                 width: calc(40%);
        //             }
        //         }
        //     }

        // }

        // /*FOOTER*/
        // .footer {

        //     .container {
        //         gap: 10rem;
        //     }
        // }
    }
}