@charset "UTF-8";
/*VARIABLES*/
/*Varibables -------------------------------------------------------------------------------*/
/*Colores*/
/*NORMALIZAR*/
/*Normalizar -------------------------------------------------------------------------------*/
/*Importar*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap");
/*Reiniciar*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

/*Globales*/
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  color: #A09082;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden;
  background-color: gray; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style-type: none;
  padding-left: 0; }

/*PARTES*/
/*PÁGINAS*/
.body {
  /*Main*/
  /*Novedades*/
  /*Motivos*/
  /*Destacados*/
  /*Tutoriales*/
  /*Sobre-mi*/
  /*Post instagram*/
  /*Ebooks*/
  /*Kits*/
  /*Puntos de venta*/
  /*Footer*/
  /*BOTONES*/
  /*btn scroll*/ }
  .body .main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    /*Header*/
    /*----------------*/
    /*  SCALLOP up    */
    /*----------------*/ }
    .body .main::before {
      content: "";
      background-image: url("../../assets/image/Fondo.png");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: 0.5; }
    .body .main .frase {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #FFF5EC;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .body .main .frase h2 {
        font-family: 'Fleur De Leah', cursive;
        font-size: 9em;
        font-weight: 200;
        opacity: 0;
        animation: fade-in 1s ease forwards;
        animation-delay: 0.2s; }
      .body .main .frase p {
        font-size: 2em;
        text-align: center;
        opacity: 0;
        animation: fade-in 1s ease forwards;
        animation-delay: 0.3s; }
    .body .main .header {
      width: 100%;
      height: 7rem;
      position: fixed;
      background-color: transparent;
      top: 0;
      z-index: 100;
      padding-top: 1rem;
      transition: background-color .4s ease-in-out; }
      .body .main .header.scrolled {
        background-color: #fff;
        opacity: 0.98;
        box-shadow: 0 0 10px 0 #000000; }
      .body .main .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem 0 2rem; }
        .body .main .header .container .logo {
          cursor: pointer;
          font-family: 'Fleur De Leah', cursive;
          font-size: 3em;
          color: #FFF5EC;
          transition: color .3s ease-in-out; }
          .body .main .header .container .logo:hover {
            color: #FF9CA2; }
        .body .main .header .container .nav ul {
          display: flex;
          gap: 2rem;
          font-size: 1.8em; }
          .body .main .header .container .nav ul li {
            cursor: pointer;
            color: #FFF5EC;
            transition: color .3s ease-in-out;
            position: relative; }
            .body .main .header .container .nav ul li:hover {
              color: #FF9CA2; }
            .body .main .header .container .nav ul li:hover::before {
              content: "";
              background-image: url("../../assets/image/rosa.svg");
              background-size: 100% 100%;
              position: absolute;
              top: 70%;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: -1; }
        .body .main .header .container .redes {
          display: flex;
          gap: 1rem;
          font-size: 2em;
          cursor: pointer;
          color: #FFF5EC; }
          .body .main .header .container .redes i {
            transition: color .3s ease-in-out; }
          .body .main .header .container .redes i:hover {
            color: #FF9CA2; }
    .body .main .scallop-up {
      position: absolute;
      height: 100px;
      width: 100%;
      background-image: radial-gradient(60px at 50% 100%, #FFF5EC, #FFF5EC 49%, #ffffff00 51%, #ffffff00);
      background-size: 49px 100%;
      bottom: 0; }
  .body .novedades {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF5EC;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .body .novedades .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 5rem; }
      .body .novedades .container h2 {
        font-size: 2.5em;
        padding-bottom: 2rem; }
      .body .novedades .container .tarjetas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem; }
        .body .novedades .container .tarjetas .tarjeta {
          content: '';
          width: 35rem;
          height: 28rem;
          background-color: #F2E1D2;
          border-radius: 10px;
          padding: 2rem;
          box-shadow: 0 5px 20px 0 #decec0; }
          .body .novedades .container .tarjetas .tarjeta h3 {
            font-size: 1.6em;
            padding-bottom: 2rem; }
          .body .novedades .container .tarjetas .tarjeta span {
            font-size: 1.4em; }
  .body .motivos {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #D6EFE9;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden; }
    .body .motivos .container .porque {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem; }
      .body .motivos .container .porque h2 {
        font-size: 2.5em; }
      .body .motivos .container .porque h3 {
        font-size: 1.8em;
        width: 50rem;
        font-weight: 400;
        text-align: center; }
    .body .motivos .container .iconos {
      display: flex;
      gap: 10rem;
      padding: 10rem 0 0 0; }
      .body .motivos .container .iconos .buena-atencion,
      .body .motivos .container .iconos .precios,
      .body .motivos .container .iconos .calidad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .body .motivos .container .iconos .buena-atencion h3,
        .body .motivos .container .iconos .precios h3,
        .body .motivos .container .iconos .calidad h3 {
          font-size: 2em;
          font-weight: 600;
          padding-bottom: 1rem; }
        .body .motivos .container .iconos .buena-atencion p,
        .body .motivos .container .iconos .precios p,
        .body .motivos .container .iconos .calidad p {
          font-size: 1.5em;
          width: 30rem;
          text-align: center; }
        .body .motivos .container .iconos .buena-atencion i,
        .body .motivos .container .iconos .precios i,
        .body .motivos .container .iconos .calidad i {
          font-size: 6em; }
  .body .destacados {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF5EC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 2rem 0 2rem; }
    .body .destacados h2 {
      font-size: 2.5em;
      padding: 0 0 2rem 0; }
    .body .destacados .tarjetas-productos {
      height: 50rem;
      max-width: 120rem;
      padding-bottom: 7rem;
      display: flex;
      justify-content: space-between;
      gap: 4rem;
      flex-wrap: wrap;
      position: relative;
      z-index: 1;
      padding: 0 5rem 0 0; }
      .body .destacados .tarjetas-productos .slick-arrow {
        width: 35px;
        height: 35px;
        font-size: 1px;
        color: transparent;
        border: 1px solid #A09082;
        position: absolute;
        top: -8%;
        left: 35%;
        transform: translate(-50%, -50%);
        cursor: pointer; }
      .body .destacados .tarjetas-productos .slick-prev {
        left: 30%;
        background: url("../../assets/image/angle-left.svg");
        background-size: 100%; }
      .body .destacados .tarjetas-productos .slick-next {
        background: url("../../assets/image/angle-right.svg");
        background-size: 100%; }
      .body .destacados .tarjetas-productos .tarjeta1,
      .body .destacados .tarjetas-productos .tarjeta2,
      .body .destacados .tarjetas-productos .tarjeta3,
      .body .destacados .tarjetas-productos .tarjeta4,
      .body .destacados .tarjetas-productos .tarjeta5,
      .body .destacados .tarjetas-productos .tarjeta6 {
        position: relative;
        margin-right: 2rem; }
        .body .destacados .tarjetas-productos .tarjeta1 .tarjeta-producto,
        .body .destacados .tarjetas-productos .tarjeta2 .tarjeta-producto,
        .body .destacados .tarjetas-productos .tarjeta3 .tarjeta-producto,
        .body .destacados .tarjetas-productos .tarjeta4 .tarjeta-producto,
        .body .destacados .tarjetas-productos .tarjeta5 .tarjeta-producto,
        .body .destacados .tarjetas-productos .tarjeta6 .tarjeta-producto {
          width: 100%;
          height: 50rem;
          background-color: #FFF5EC;
          overflow: hidden;
          transition: transform 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          position: relative; }
          .body .destacados .tarjetas-productos .tarjeta1 .tarjeta-producto::before,
          .body .destacados .tarjetas-productos .tarjeta2 .tarjeta-producto::before,
          .body .destacados .tarjetas-productos .tarjeta3 .tarjeta-producto::before,
          .body .destacados .tarjetas-productos .tarjeta4 .tarjeta-producto::before,
          .body .destacados .tarjetas-productos .tarjeta5 .tarjeta-producto::before,
          .body .destacados .tarjetas-productos .tarjeta6 .tarjeta-producto::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #F2E1D2;
            transform-origin: bottom;
            transition: height 0.3s ease-in-out; }
          .body .destacados .tarjetas-productos .tarjeta1 .tarjeta-producto:hover::before,
          .body .destacados .tarjetas-productos .tarjeta2 .tarjeta-producto:hover::before,
          .body .destacados .tarjetas-productos .tarjeta3 .tarjeta-producto:hover::before,
          .body .destacados .tarjetas-productos .tarjeta4 .tarjeta-producto:hover::before,
          .body .destacados .tarjetas-productos .tarjeta5 .tarjeta-producto:hover::before,
          .body .destacados .tarjetas-productos .tarjeta6 .tarjeta-producto:hover::before {
            height: 40%; }
          .body .destacados .tarjetas-productos .tarjeta1 .tarjeta-producto:hover .botones,
          .body .destacados .tarjetas-productos .tarjeta2 .tarjeta-producto:hover .botones,
          .body .destacados .tarjetas-productos .tarjeta3 .tarjeta-producto:hover .botones,
          .body .destacados .tarjetas-productos .tarjeta4 .tarjeta-producto:hover .botones,
          .body .destacados .tarjetas-productos .tarjeta5 .tarjeta-producto:hover .botones,
          .body .destacados .tarjetas-productos .tarjeta6 .tarjeta-producto:hover .botones {
            opacity: 1; }
          .body .destacados .tarjetas-productos .tarjeta1 .tarjeta-producto .botones,
          .body .destacados .tarjetas-productos .tarjeta2 .tarjeta-producto .botones,
          .body .destacados .tarjetas-productos .tarjeta3 .tarjeta-producto .botones,
          .body .destacados .tarjetas-productos .tarjeta4 .tarjeta-producto .botones,
          .body .destacados .tarjetas-productos .tarjeta5 .tarjeta-producto .botones,
          .body .destacados .tarjetas-productos .tarjeta6 .tarjeta-producto .botones {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            opacity: 0;
            transition: .4s ease-in-out; }
            .body .destacados .tarjetas-productos .tarjeta1 .tarjeta-producto .botones p,
            .body .destacados .tarjetas-productos .tarjeta2 .tarjeta-producto .botones p,
            .body .destacados .tarjetas-productos .tarjeta3 .tarjeta-producto .botones p,
            .body .destacados .tarjetas-productos .tarjeta4 .tarjeta-producto .botones p,
            .body .destacados .tarjetas-productos .tarjeta5 .tarjeta-producto .botones p,
            .body .destacados .tarjetas-productos .tarjeta6 .tarjeta-producto .botones p {
              font-size: 1.8em; }
            .body .destacados .tarjetas-productos .tarjeta1 .tarjeta-producto .botones .btn-comprar,
            .body .destacados .tarjetas-productos .tarjeta2 .tarjeta-producto .botones .btn-comprar,
            .body .destacados .tarjetas-productos .tarjeta3 .tarjeta-producto .botones .btn-comprar,
            .body .destacados .tarjetas-productos .tarjeta4 .tarjeta-producto .botones .btn-comprar,
            .body .destacados .tarjetas-productos .tarjeta5 .tarjeta-producto .botones .btn-comprar,
            .body .destacados .tarjetas-productos .tarjeta6 .tarjeta-producto .botones .btn-comprar {
              width: 20rem;
              height: 5rem;
              background-color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.5em;
              font-weight: 500;
              border: 2px solid #A09082;
              border-radius: 100px;
              transition: .3s ease-in-out; }
              .body .destacados .tarjetas-productos .tarjeta1 .tarjeta-producto .botones .btn-comprar:hover,
              .body .destacados .tarjetas-productos .tarjeta2 .tarjeta-producto .botones .btn-comprar:hover,
              .body .destacados .tarjetas-productos .tarjeta3 .tarjeta-producto .botones .btn-comprar:hover,
              .body .destacados .tarjetas-productos .tarjeta4 .tarjeta-producto .botones .btn-comprar:hover,
              .body .destacados .tarjetas-productos .tarjeta5 .tarjeta-producto .botones .btn-comprar:hover,
              .body .destacados .tarjetas-productos .tarjeta6 .tarjeta-producto .botones .btn-comprar:hover {
                background-color: #FF9CA2;
                color: #FFF5EC; }
          .body .destacados .tarjetas-productos .tarjeta1 .tarjeta-producto img,
          .body .destacados .tarjetas-productos .tarjeta2 .tarjeta-producto img,
          .body .destacados .tarjetas-productos .tarjeta3 .tarjeta-producto img,
          .body .destacados .tarjetas-productos .tarjeta4 .tarjeta-producto img,
          .body .destacados .tarjetas-productos .tarjeta5 .tarjeta-producto img,
          .body .destacados .tarjetas-productos .tarjeta6 .tarjeta-producto img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
  .body .tutoriales {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #FFF5EC;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    /*----------------*/
    /*  SCALLOP up    */
    /*----------------*/ }
    .body .tutoriales::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 40%;
      background-color: #F2E1D2;
      z-index: 0;
      bottom: -20%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .body .tutoriales .scallop-up {
      position: absolute;
      height: 100px;
      width: 100%;
      background-image: radial-gradient(50px at 50% 100%, #FFCDD0, #FFCDD0 49%, #ffffff00 51%, #ffffff00);
      background-size: 49px 100%;
      bottom: 0;
      z-index: 2; }
    .body .tutoriales .container {
      display: flex;
      gap: 10rem;
      z-index: 2;
      padding: 0 5rem 0 5rem; }
      .body .tutoriales .container .titulo-tips {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .body .tutoriales .container .titulo-tips .titulos-tutoriales h2 {
          font-size: 2.5em; }
        .body .tutoriales .container .titulo-tips .titulos-tutoriales .links-tuto {
          display: flex;
          flex-direction: column; }
          .body .tutoriales .container .titulo-tips .titulos-tutoriales .links-tuto a {
            font-size: 1.8em;
            cursor: pointer; }
            .body .tutoriales .container .titulo-tips .titulos-tutoriales .links-tuto a:hover {
              font-weight: 600; }
        .body .tutoriales .container .titulo-tips .tips-tutoriales {
          width: 60rem; }
          .body .tutoriales .container .titulo-tips .tips-tutoriales h3 {
            font-size: 2em;
            padding-bottom: 2rem; }
          .body .tutoriales .container .titulo-tips .tips-tutoriales span {
            font-size: 1.5em; }
      .body .tutoriales .container .videos {
        content: '';
        width: 50rem;
        height: 50rem;
        background-color: #A09082; }
  .body .sobre-mi {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #FFCDD0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    overflow: hidden; }
    .body .sobre-mi .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10rem; }
      .body .sobre-mi .container .fotos {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 5rem;
        padding-top: 8rem; }
        .body .sobre-mi .container .fotos .foto1 {
          content: '';
          width: 100%;
          height: 45rem;
          background-color: #A09082;
          z-index: 2; }
          .body .sobre-mi .container .fotos .foto1 img {
            width: 100%;
            height: 100%; }
        .body .sobre-mi .container .fotos .otras-fotos {
          display: flex;
          gap: 2rem; }
          .body .sobre-mi .container .fotos .otras-fotos .foto {
            content: '';
            width: 30rem;
            height: 25rem;
            background-color: #A09082; }
            .body .sobre-mi .container .fotos .otras-fotos .foto img {
              width: 100%;
              height: 100%; }
      .body .sobre-mi .container .descripcion {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        justify-content: center;
        align-items: center;
        padding-right: 5rem; }
        .body .sobre-mi .container .descripcion h2 {
          font-size: 2.5em; }
        .body .sobre-mi .container .descripcion span {
          font-size: 1.5em; }
  .body .post-instagram {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF5EC;
    display: flex;
    justify-content: center;
    overflow: hidden; }
    .body .post-instagram .scallop-down {
      height: 100px;
      width: 100%;
      background-image: radial-gradient(50px at 50% 0, #FFCDD0, #FFCDD0 49%, #ffffff00 51%, #ffffff00);
      background-size: 49px 100%;
      position: absolute; }
    .body .post-instagram .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 10rem 0 10rem 0; }
      .body .post-instagram .container .titulo-post-instagram {
        display: flex;
        flex-direction: column;
        padding-left: 8rem;
        padding-top: 2rem; }
        .body .post-instagram .container .titulo-post-instagram h2 {
          font-size: 2.5em; }
        .body .post-instagram .container .titulo-post-instagram span {
          font-size: 1.8em; }
      .body .post-instagram .container .post {
        width: 100%;
        padding: 0 8rem 0 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap; }
        .body .post-instagram .container .post .primer-post,
        .body .post-instagram .container .post .segundo-post,
        .body .post-instagram .container .post .tercer-post,
        .body .post-instagram .container .post .cuarto-post {
          width: calc(25%); }
        .body .post-instagram .container .post .primer-post {
          background-color: #F2E1D2;
          display: flex;
          align-items: center;
          font-size: 1.8em;
          padding: 2rem; }
        .body .post-instagram .container .post .segundo-post {
          position: relative; }
        .body .post-instagram .container .post .cuarto-post {
          background-color: #A09082;
          color: #FFF5EC; }
        .body .post-instagram .container .post .primer-post,
        .body .post-instagram .container .post .segundo-post,
        .body .post-instagram .container .post .tercer-post {
          height: 45rem; }
        .body .post-instagram .container .post img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .body .post-instagram .container .post .segundo-post-texto {
          width: 100%;
          height: 30%;
          background-color: #F2E1D2;
          padding: 2rem;
          position: absolute;
          top: 0; }
          .body .post-instagram .container .post .segundo-post-texto span {
            font-size: 1.8em; }
        .body .post-instagram .container .post p {
          padding: 2rem;
          font-size: 1.8em; }
        .body .post-instagram .container .post .top {
          display: flex;
          gap: 1rem;
          padding: 2rem; }
          .body .post-instagram .container .post .top .circle {
            content: '';
            width: 5rem;
            height: 5rem;
            border-radius: 100px;
            background-color: #F2E1D2; }
          .body .post-instagram .container .post .top .usuario-ig {
            font-size: 1.5em; }
        .body .post-instagram .container .post .boton-post {
          padding: 2rem;
          font-size: 1.5em;
          display: flex;
          justify-content: flex-end; }
          .body .post-instagram .container .post .boton-post span,
          .body .post-instagram .container .post .boton-post i {
            cursor: pointer; }
  .body .ebooks {
    width: 100%;
    min-height: 100vh;
    background-color: #D6EFE9;
    display: flex;
    gap: 2rem;
    overflow: hidden; }
    .body .ebooks .container {
      display: flex;
      gap: 2rem; }
      .body .ebooks .container .descripcion-ebooks {
        min-height: 100vh;
        width: 100rem;
        background-color: #ACEBDC;
        padding: 0 5rem 0 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .body .ebooks .container .descripcion-ebooks h2 {
          font-size: 2.5em;
          padding-bottom: 2rem; }
        .body .ebooks .container .descripcion-ebooks p {
          font-size: 1.8em; }
      .body .ebooks .container .contenedor-ebooks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem 0 2rem 0; }
        .body .ebooks .container .contenedor-ebooks .ebook {
          content: '';
          background-color: #F2E1D2;
          height: 40rem;
          width: 40rem;
          position: relative; }
          .body .ebooks .container .contenedor-ebooks .ebook img {
            width: 100%;
            height: 100%; }
          .body .ebooks .container .contenedor-ebooks .ebook::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background-color: #ACEBDC;
            transform-origin: bottom;
            transition: height 0.3s ease-in-out; }
          .body .ebooks .container .contenedor-ebooks .ebook:hover::before {
            height: 40%; }
          .body .ebooks .container .contenedor-ebooks .ebook:hover .botones-ebook {
            opacity: 1; }
          .body .ebooks .container .contenedor-ebooks .ebook .botones-ebook {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            opacity: 0;
            transition: .4s ease-in-out; }
            .body .ebooks .container .contenedor-ebooks .ebook .botones-ebook .btn-comprar {
              width: 20rem;
              height: 5rem;
              background-color: #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.5em;
              font-weight: 500;
              border: 2px solid #A09082;
              border-radius: 100px;
              transition: .3s ease-in-out; }
              .body .ebooks .container .contenedor-ebooks .ebook .botones-ebook .btn-comprar:hover {
                background-color: #FF9CA2;
                color: #FFF5EC; }
  .body .kits {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF5EC;
    overflow: hidden; }
    .body .kits .container {
      display: flex;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
      padding: 5rem 10rem 5rem 10rem; }
      .body .kits .container .titulo-kits {
        width: 50rem;
        display: flex;
        justify-content: center;
        align-items: center; }
        .body .kits .container .titulo-kits .titulos-kits h2 {
          font-size: 2.5em; }
        .body .kits .container .titulo-kits .titulos-kits .links-kits {
          display: flex;
          flex-direction: column;
          width: 100%; }
          .body .kits .container .titulo-kits .titulos-kits .links-kits a {
            font-size: 1.8em;
            cursor: pointer; }
            .body .kits .container .titulo-kits .titulos-kits .links-kits a:hover {
              font-weight: 600; }
      .body .kits .container .productos-kits {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        grid-auto-rows: minmax(300px, auto);
        gap: 20px;
        padding: 20px;
        grid-auto-flow: dense; }
        .body .kits .container .productos-kits .kit {
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 4px;
          transition: transform .3s ease-in-out; }
          .body .kits .container .productos-kits .kit:hover {
            transform: scale(1.1); }
        .body .kits .container .productos-kits .img1,
        .body .kits .container .productos-kits .img2,
        .body .kits .container .productos-kits .img3,
        .body .kits .container .productos-kits .img4,
        .body .kits .container .productos-kits .img5 {
          background-image: url("../../assets/image/producto1.png"); }
  .body .puntos-venta {
    width: 100%;
    min-height: 100vh;
    background-color: #FFF5EC;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    position: relative;
    /*----------------*/
    /*  SCALLOP up    */
    /*----------------*/ }
    .body .puntos-venta .img {
      content: '';
      width: 50rem;
      height: 50rem;
      background-color: #A09082; }
    .body .puntos-venta .scallop-up {
      position: absolute;
      height: 100px;
      width: 100%;
      background-image: radial-gradient(50px at 50% 100%, #F2E1D2, #F2E1D2 49%, #ffffff00 51%, #ffffff00);
      background-size: 49px 100%;
      bottom: 0;
      z-index: 2; }
    .body .puntos-venta .titulo-puntos {
      display: flex;
      flex-direction: column;
      gap: 1rem; }
      .body .puntos-venta .titulo-puntos .punto {
        display: flex;
        gap: 1rem;
        align-items: center; }
        .body .puntos-venta .titulo-puntos .punto span {
          font-size: 1.8em; }
        .body .puntos-venta .titulo-puntos .punto a {
          font-size: 1.5em; }
  .body .footer {
    width: 100%;
    min-height: 60vh;
    background-color: #F2E1D2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 10rem 0 10rem; }
    .body .footer .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      position: absolute;
      justify-content: space-between;
      gap: 35rem; }
      .body .footer .container .descripcion-footer {
        width: 350px; }
        .body .footer .container .descripcion-footer h3 {
          font-size: 1.8em; }
        .body .footer .container .descripcion-footer span {
          font-size: 1.5em; }
      .body .footer .container .nav-footer {
        padding-right: 5rem; }
        .body .footer .container .nav-footer li {
          font-size: 1.5em;
          text-align: center; }
          .body .footer .container .nav-footer li:hover {
            font-weight: 600; }
      .body .footer .container .redes-footer {
        display: flex;
        flex-direction: column; }
        .body .footer .container .redes-footer .container-redes {
          display: flex;
          gap: 1em; }
          .body .footer .container .redes-footer .container-redes i {
            font-size: 2em;
            cursor: pointer; }
        .body .footer .container .redes-footer h3 {
          font-size: 1.8em; }
    .body .footer .copy {
      position: absolute;
      display: flex;
      padding-bottom: 2rem;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2em; }
  .body .scroll-top-button {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: #FF9CA2;
    border: 1px solid #FF9CA2;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10; }
    .body .scroll-top-button i {
      font-size: 3rem;
      color: #fff; }
  .body .scroll-top-button.show {
    opacity: 1;
    visibility: visible;
    animation: scrollAnimation 1s infinite alternate; }

/*Keyframes*/
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/*Media querys*/
/*PANTALLAS GRANDES*/
@media (max-width: 1190px) {
  .body {
    /*NOVEDADES*/
    /*MOTIVOS*/
    /*TUTORIALES*/
    /*DESTACADOS*/
    /*SOBRE MÍ*/
    /*POST INSTAGRAM*/
    /*EBOOKS*/
    /*FOOTER*/ }
    .body .novedades {
      width: 100%;
      height: 110rem; }
    .body .motivos .container .porque {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem; }
      .body .motivos .container .porque h2 {
        font-size: 2.5em; }
      .body .motivos .container .porque h3 {
        font-size: 1.8em;
        width: 50rem;
        font-weight: 400;
        text-align: center; }
    .body .motivos .container .iconos {
      display: flex;
      gap: 2rem; }
    .body .tutoriales {
      width: 100%;
      height: 110rem; }
      .body .tutoriales .container {
        display: flex;
        flex-direction: column; }
        .body .tutoriales .container .titulo-tips {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .body .tutoriales .container .titulo-tips .tips-tutoriales h3 {
            padding-top: 3rem; }
          .body .tutoriales .container .titulo-tips .tips-tutoriales span {
            font-size: 1.8em; }
        .body .tutoriales .container .videos {
          content: '';
          width: 50rem;
          height: 50rem;
          background-color: #A09082; }
    .body .destacados .tarjetas-productos {
      padding: 0 20rem 0 0; }
    .body .sobre-mi {
      height: 130rem; }
      .body .sobre-mi .container {
        flex-direction: column-reverse;
        gap: 2rem; }
        .body .sobre-mi .container .descripcion {
          width: 60%; }
        .body .sobre-mi .container .fotos {
          padding-left: 0;
          padding-top: 10rem; }
    .body .post-instagram .container .post .primer-post,
    .body .post-instagram .container .post .segundo-post,
    .body .post-instagram .container .post .tercer-post,
    .body .post-instagram .container .post .cuarto-post {
      width: calc(40%); }
    .body .ebooks .container {
      flex-direction: column; }
      .body .ebooks .container .descripcion-ebooks {
        min-height: 50vh;
        width: 100%; }
      .body .ebooks .container .contenedor-ebooks {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem 0 2rem 0; }
    .body .footer .container {
      gap: 10rem; } }

/*PANTALLAS MEDIANAS*/
@media (max-width: 1000px) {
  .body {
    /*MOTIVOS*/
    /*DESTACADOS*/ }
    .body .motivos .container .porque {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 0.5rem; }
      .body .motivos .container .porque h2 {
        font-size: 2.5em; }
      .body .motivos .container .porque h3 {
        font-size: 1.8em;
        width: 50rem;
        font-weight: 400;
        text-align: center; }
    .body .motivos .container .iconos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap; }
    .body .destacados .tarjetas-productos {
      padding: 0 40rem 0 5rem; } }

@media (max-width: 841px) {
  .body {
    /*NOVEDADES*/
    /*TUTORIALES*/
    /*KITS*/
    /*DESTACADOS*/
    /*SOBRE MÍ*/
    /*POST INSTAGRAM*/
    /*EBOOKS*/
    /*FOOTER*/ }
    .body .novedades {
      height: 200rem; }
    .body .tutoriales .container .titulo-tips .tips-tutoriales {
      width: 40rem; }
    .body .tutoriales .container .videos {
      width: 40rem;
      height: 40rem; }
    .body .kits .container {
      flex-direction: column; }
    .body .destacados .tarjetas-productos {
      padding: 0 60rem 0 0; }
    .body .sobre-mi {
      height: 160rem; }
      .body .sobre-mi .container {
        flex-direction: column-reverse;
        gap: 2rem; }
        .body .sobre-mi .container .descripcion {
          width: 40rem; }
        .body .sobre-mi .container .fotos {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 5rem; }
          .body .sobre-mi .container .fotos .foto1 {
            width: 40rem;
            height: 40rem; }
          .body .sobre-mi .container .fotos .otras-fotos {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap; }
    .body .post-instagram .container .post {
      padding: 0 0 0 0; }
      .body .post-instagram .container .post .primer-post,
      .body .post-instagram .container .post .segundo-post,
      .body .post-instagram .container .post .tercer-post,
      .body .post-instagram .container .post .cuarto-post {
        width: calc(60%); }
    .body .ebooks .container .descripcion-ebooks {
      padding: 5rem; }
    .body .footer .container {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 5rem; }
      .body .footer .container .nav-footer {
        padding-right: 27rem; }
      .body .footer .container .redes-footer {
        padding-right: 22rem; } }

/*PANTALLAS PEQUEÑAS*/
@media (max-width: 630px) {
  .body {
    /*MAIN*/
    /*MOTIVOS*/
    /*DESTACADOS*/ }
    .body .main .frase h2 {
      font-size: 7em; }
    .body .main .frase p {
      padding: 0 8rem 0 8rem; }
    .body .motivos .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .body .motivos .container .porque h3 {
        padding: 0 8rem 0 8rem; }
    .body .destacados .tarjetas-productos {
      padding: 0 70rem 0 0; } }

@media (min-width: 800px) {
  .body .wide {
    grid-column: span 2; }
  .body .tall {
    grid-row: span 2; } }

/*HELPERS*/
/*Helpers*/
.container {
  max-width: 150rem;
  margin: 0 auto; }
