/*Varibables -------------------------------------------------------------------------------*/
/*Colores*/
$blanco: #fff;
$negro: #000;
$rosa: #FF9CA2;
$rosa-claro:#FFCDD0;
$verde: #ACEBDC;
$verde-claro: #D6EFE9;
$marron: #A09082;
$beige: #F2E1D2;
$cremita: #FFF5EC;
$sombra: 0 8px 32px 0 rgba(0, 0, 0, 0.38);